$brand: #234CAD;
$ghost: #F2F6FF;

.bg-brand {
    background-color: $brand;
}

.border-brand {
    border-color: $brand !important;
}

.text-brand {
    color: $brand;
}

.btn-brand {
    background-color: $brand;
    border-color: $brand;
    color: #ffffff;

    &:hover {
        background-color: darken($brand, 10%);
        border-color: darken($brand, 10%);
    }
}

.btn-outline-brand {
    background-color: transparent;
    border-color: $brand;
    color: $brand;

    &:hover {
        background-color: rgba($color: $brand, $alpha: 0.1);
        border-color: darken($brand, 10%);
        color: darken($brand, 10%);
    }
}

.bg-ghost {
    background-color: $ghost;
}

.border-ghost {
    border-color: $ghost;
}

.text-ghost {
    color: $ghost;
}

.btn-ghost {
    background-color: $ghost;
    border-color: $ghost;
    color: $brand;

    &:hover {
        background-color: darken($ghost, 10%);
        border-color: darken($ghost, 10%);
    }
}

.btn-outline-ghost {
    background-color: transparent;
    border-color: $ghost;
    color: $brand;

    &:hover {
        background-color: transparent;
        border-color: darken($ghost, 20%);
    }
}

:root {
    font-size: 16px;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #ffffff;
    color: $brand;
    overflow-x: hidden;
    padding-top: 8rem;
    padding-bottom: 5rem;

    @media (max-width: 768px) {
        padding-top: 6rem;
    }
}

.header {
    h1 {
        font-size: calc(2rem + 1vw);

        @media (max-width: 992px) {
            font-size: calc(2rem + 0.75vw);
        }

        @media (max-width: 768px) {
            font-size: calc(2rem + 0.5vw);
        }
    }

    .header-img {
        margin-left: -10rem;
        width: 140%;
        margin-top: -2rem;
        margin-bottom: -2rem;

        @media (max-width: 992px) {
            margin-left: -5rem;
            width: 130%;
            margin-top: 0;
            margin-bottom: 0;
        }

        @media (max-width: 768px) {
            width: 110%;
            margin-left: 0;
        }
    }
}

.use {
    img {
        width: 150%;
        margin-left: -10rem;

        @media (max-width: 1200px) {
            width: 140%;
            margin-left: -7rem;
        }

        @media (max-width: 576px) {
            width: 150%;
            margin-left: -25%;
        }
    }
}

.transform {
    margin-bottom: 12rem;

    img {
        margin-top: -4rem;
        margin-bottom: -6rem;
        width: 80%;

        @media (max-width: 1200px) {
            margin-top: -3rem;
            margin-bottom: -5rem;
        }

        @media (max-width: 992px) {
            margin-top: -2rem;
            margin-bottom: -4rem;
        }

        @media (max-width: 576px) {
            width: 90%;
            margin-top: -1rem;
            margin-bottom: -3rem;
        }
    }
}

.increase {
    .container {
        max-width: 992px;
    }

    .content {
        aspect-ratio: 1/1;
        position: relative;
        width: 100%;

        img {
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

}

.newsletter {
    input:focus {
        box-shadow: none !important;
    }
}